@tailwind base;
@tailwind components;
@tailwind utilities;

.masked-element {
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }
  
.masked-element-to-top{
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  }

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.shine-effect {
  background: linear-gradient(
    to right,
    #ec4899 20%,
    #a855f7 30%,
    #ec4899 70%,
    #a855f7 80%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.shine-effect-hover {
  background: linear-gradient(
    to right,
    #ec4899 20%,
    #a855f7 30%,
    #ec4899 70%,
    #a855f7 80%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
  
}
